@(title: String)
@import views.html.tags._

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@title</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link rel="stylesheet" media="screen" href=@_asset("stylesheets/main.min.css") >
        <link rel="shortcut icon" type="image/png" href=@_asset("images/favicon.png") >
    </head>
    <body>
        <div id="root">
        </div>
        @playscalajs.html.scripts(projectName = "client", fileName => _asset(fileName).toString)
    </body>
</html>
